.taskStepWrapper {
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: white;
  transition: background-color .2s ease-in-out,
}
.taskStepWrapper:focus-visible {
  outline: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: lightgreen;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.taskStepWrapper:active {
  background-color: lightgreen;
}
