.mainContentWrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 30px;
}
.boardWrapper {
	width: 200px;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.mainContentWrapper {
		flex-direction: row;
	}
	.boardWrapper {
		margin-bottom: 0;
	}
}
